<header>
  <mat-toolbar class="position-relative">
    @if (showHomePageBtn) {
      <button
        mat-button
        aria-label="Go to Home page"
        (click)="navigation.goToHomePage()"
      >
        Home
        <mat-icon fontIcon="home"></mat-icon>
      </button>
    }
    @if (showFavoriteMediasPageBtn) {
      <button
        mat-button
        color="primary"
        aria-label="Go To Favorite Medias page"
        (click)="navigation.goToFavoriteMediasPage()"
      >
        Favorites
        <mat-icon fontIcon="favorite"></mat-icon>
      </button>
    }
    @if (showFavoriteMediasListClearBtn) {
      <button
        mat-button
        color="warn"
        aria-label="Clear Favorite Medias list"
        (click)="storage.clearFavoriteMedias()"
      >
        Clear
        <mat-icon fontIcon="favorite_border"></mat-icon>
      </button>
    }
    <div class="d-flex justify-content-center align-items-center">
      <span>{{ title }}</span>
    </div>
  </mat-toolbar>
</header>
