<app-header title="Media Searcher" [showFavoriteMoviesPageBtn]="true"></app-header>
<main class="d-flex flex-column gap-3">
  <section class="d-flex flex-column align-items-center">
    <h1>Media Searcher</h1>
    <p>Search for media title below. The year and media type parameters are optional.</p>
  </section>
  <section>
    <app-media-search></app-media-search>
  </section>
  <section>
    @if (loading) {
      <div class="d-flex justify-content-center">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    } @else {
      <!-- <app-results-area *ngIf="data" [data]="data"></app-results-area> -->
    }
  </section>
</main>
<app-footer></app-footer>
